<!doctype html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Introvert VS Extrovert</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header>
        <h1>Introvert vs Extrovert - Decision Tree</h1>

        <p>Subí tu .CSV para analizarlo con Machine Learning y generar tu propio árbol.</p>

        <form action="/load" method="POST" enctype="multipart/form-data" class="form-contenedor">
            <input type="file" name="file" class="input-archivo" required>
            <button type="submit" class="boton-subir">Procesar</button>
        </form>
    </header>

    <main>
        {% if error %}
        <div class="error-msg"> {{error}} </div>
        {% endif %}

        {% if img_name %}
        <img src="{{ url_for('static', filename=img_name) }}" class="arbol" alt="Árbol Generado">
        {% endif %}

        {% if resultados_dict %}
        <title>Resultados del Modelo</title>

        <h1>Resultados del Entrenamiento</h1>

        <div class="card">
            <h3>Métricas Principales</h3>
            <ul>
                <li><strong>Mejores Parámetros:</strong> {{ resultados_dict.mejores_params }}</li>
                <li><strong>Score en Validación (Grid):</strong> {{ resultados_dict.mejor_score_train }}</li>
                <li><strong>Exactitud en Test (Accuracy):</strong> {{ resultados_dict.score_test }}</li>
            </ul>
        </div>

        <div class="card">
            <h3>Reporte de Clasificación</h3>
            <pre>{{ resultados_dict.reporte_class }}</pre>
        </div>

        <div class="card matriz-container">
            <h3>Matriz de Confusión</h3>

            <table class="tabla-matriz">
                <thead>
                    <tr>
                        <th class="vacio"></th>
                        <th class="etiqueta">Positivos</th>
                        <th class="etiqueta">Negativos</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <th class="etiqueta-fila">Positivos</th>
                        <td class="celda dato-correcto">
                            <span class="numero">{{ resultados_dict.matriz_confusion[0][0] }}</span>
                        </td>
                        <td class="celda dato-error">
                            <span class="numero">{{ resultados_dict.matriz_confusion[0][1] }}</span>
                        </td>
                    </tr>
                    <tr>
                        <th class="etiqueta-fila">Negativo</th>
                        <td class="celda dato-error">
                            <span class="numero">{{ resultados_dict.matriz_confusion[1][0] }}</span>
                        </td>
                        <td class="celda dato-correcto">
                            <span class="numero">{{ resultados_dict.matriz_confusion[1][1] }}</span>
                        </td>
                    </tr>
                </tbody>
            </table>

            <p class="leyenda">
                <span class="dot verde"></span> Aciertos
                <span class="dot rojo"></span> Errores
            </p>
        </div>

        </div>
        {% endif %}
        <a href="/" class="boton-subir">Volver</a>
    </main>

</body>

</html>